
@media screen and (max-width: 414px) {
	/* Contains all elements in the body for home page */
	.video-player-body {
		justify-content: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: rgb(12, 12, 12);
		max-height: 100vh;
	}
}

@media screen and (max-width: 375px) {
	/* Contains all elements in the body for home page */
	.video-player-body {
		justify-content: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: rgb(12, 12, 12);
		max-height: 100vh;
	}
}