@media screen and (max-width: 414px) {
	.about-text {
			font-family: Helvetica;
		}
	
		body {
			background-color: #f0ede7;
		}
}

@media screen and (max-width: 375px) {
	.about-text {
			font-family: Helvetica;
		}
	
		body {
			background-color: #f0ede7;
		}
}

