/* Single card */
.single-card-player {
	text-justify: center;
	display: flex;
	align-items: center;
	width: 555px;
	/* height: 200px; */
	background: #fff;
	padding: 10px 2px 2px 2px;
	border-radius: 6px;
	box-shadow: 0px 3px 6px 2px #0002;
	transition: transform 100ms ease-in-out;
	margin-bottom: 5px;
	
}

.single-card-player:hover {
	transform: scale(1.01);
	background-color: rgb(204, 201, 165)
}

/* Remove the verticale scroll bar */
.cards-player::-webkit-scrollbar {
	display: none;
}

/* Cards container */
.cards-player {
	overflow-y: scroll;
	height: 90vh;
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
	left: -0.5vw;
}

/* Remove the verticale scroll bar */
.cards-player::-webkit-scrollbar {
	display: none;
}

/* image in the the card for home page */
.image-player {
	width: 230px;
	height: 200px;
	border-radius: 10px;
	padding: 2px;
}

/* Text inside each card */
.video-description-player {
	flex-direction: column;
	display: flex;
	margin: 0px 5px;
	padding-right: 15px;
	margin-left: 5px;
	font-size: 12px;
}

/* Views */
.views-player {
	font-size: 16px;
	color: black;
}

/* Title */
.title-player {
	font-size: 18px;
	color: rgb(248, 5, 5);
	position: relative;
	top: 10px;
}

/* Channel id */
.channel-id-player {
	font-size: 16px;
	text-decoration: none;
	color: black;
	font-size: 16px;
	position: relative;
	top: 5px;
	left: 5px;
}

.posted-text-player {
	position: relative;
	top: -20px;
	font-size: 16px;
	;
}

.duration-text-player {
	position: relative;
	top: -40px;
	font-size: 16px;
}

/* Avatar and channel name */
.avatar-channelName-player {
	font-size: 16px;
	justify-content: left;
	display: flex;
	margin-top: 5px;
}

/* The avatarbelow the playing video */
.avatar-player {
	height: 40px;
	border-radius: 30px;
	position: relative;
	font-size: 16px;
	color: black;
	font-size: 1px;
}

@media screen and (max-width: 1200px) {

	/* Single card */
	.single-card-player {
		text-justify: center;
		display: flex;
		align-items: center;
		width: 400px;
		height: 200px;
		background: #fff;
		padding: 10px 2px 2px 2px;
		border-radius: 6px;
		box-shadow: 0px 3px 6px 2px #0002;
		transition: transform 100ms ease-in-out;
		margin-bottom: 5px;
	}

	.single-card-player:hover {
		transform: scale(1.01);
		background-color: rgb(204, 201, 165)
	}

	/* Remove the verticale scroll bar */
	.cards-player::-webkit-scrollbar {
		display: none;
	}

	/* Cards container */
	.cards-player {
		overflow-y: scroll;
		height: 84vh;
		margin-top: 10px;
		margin-bottom: 10px;
		position: relative;
		left: -0.5vw;
	}

	/* Remove the verticale scroll bar */
	.cards-player::-webkit-scrollbar {
		display: none;
	}

	/* image in the the card for home page */
	.image-player {
		width: 160px;
		height: 160px;
		border-radius: 10px;
		padding: 2px;
		position: relative;
		top: -5px;
	}

	/* Text inside each card */
	.video-description-player {
		flex-direction: column;
		display: flex;
		position: relative;
		top: 10px;
		margin: 0px 5px;
		padding-right: 20px;
		margin-left: 5px;
		font-size: 12px;
	}

	/* Views */
	.views-player {
		font-size: 16px;
		color: black;
	}

	/* Title */
	.title-player {
		font-size: 14px;
		color: rgb(248, 5, 5);
		position: relative;
		top: 10px;
		width: 23vw
	}

	/* Channel id */
	.channel-id-player {
		font-size: 16px;
		;
		text-decoration: none;
		color: black;
		font-size: 16px;
		position: relative;
		top: 5px;
		left: 5px;
	}

	.posted-text-player {
		position: relative;
		top: -20px;
		font-size: 16px;
		;
	}

	.duration-text-player {
		position: relative;
		top: -40px;
		font-size: 16px;
		;
	}

	/* Avatar and channel name */
	.avatar-channelName-player {
		font-size: 16px;
		;
		justify-content: left;
		display: flex;
		margin-top: 5px;
	}

	/* The avatarbelow the playing video */
	.avatar-player {
		height: 30px;
		border-radius: 30px;
		position: relative;
		font-size: 16px;
		;
		color: black;
		font-size: 1px;
	}

}


@media screen and (max-width: 1024px) {
	/* Single card */
	.single-card-player {
		text-justify: center;
		display: flex;
		align-items: center;
		width: 400px;
		height: 200px;
		background: #fff;
		padding: 10px 2px 2px 2px;
		border-radius: 6px;
		box-shadow: 0px 3px 6px 2px #0002;
		transition: transform 100ms ease-in-out;
		margin-bottom: 5px;
	}

	.single-card-player:hover {
		transform: scale(1.01);
		background-color: rgb(204, 201, 165)
	}

	/* Remove the verticale scroll bar */
	.cards-player::-webkit-scrollbar {
		display: none;
	}

	/* Cards container */
	.cards-player {
		overflow-y: scroll;
		height: 84vh;
		margin-top: 10px;
		margin-bottom: 10px;
		position: relative;
		left: 3vw;
	}

	/* Remove the verticale scroll bar */
	.cards-player::-webkit-scrollbar {
		display: none;
	}

	/* image in the the card for home page */
	.image-player {
		width: 160px;
		height: 160px;
		border-radius: 10px;
		padding: 2px;
		position: relative;
		top: -5px;
	}

	/* Text inside each card */
	.video-description-player {
		flex-direction: column;
		display: flex;
		position: relative;
		top: 10px;
		margin: 0px 5px;
		padding-right: 20px;
		margin-left: 5px;
		font-size: 12px;
	}

	/* Views */
	.views-player {
		font-size: 16px;
		color: black;
	}

	/* Title */
	.title-player {
		font-size: 16px;
		color: rgb(248, 5, 5);
		position: relative;
		top: 10px;;
		width: 25vw
	}

	/* Channel id */
	.channel-id-player {
		font-size: 16px;;
		text-decoration: none;
		color: black;
		font-size: 16px;
		position: relative;
		top: 5px;
		left: 5px;
	}

	.posted-text-player {
		position: relative;
		top: -20px;
		font-size: 16px;;
	}

	.duration-text-player {
		position: relative;
		top: -40px;
		font-size: 16px;;
	}

	/* Avatar and channel name */
	.avatar-channelName-player {
		font-size: 16px;;
		justify-content: left;
		display: flex;
		margin-top: 5px;
	}

	/* The avatarbelow the playing video */
	.avatar-player {
		height: 30px;
		border-radius: 30px;
		position: relative;
		font-size: 16px;;
		color: black;
		font-size: 1px;
	}

}


@media screen and (max-width: 900px) {
	/* Single card */
	.single-card-player {
		text-justify: center;
		display: flex;
		align-items: center;
		width: 880px;
		height: 200px;
		background: #fff;
		padding: 10px 2px 2px 2px;
		border-radius: 6px;
		box-shadow: 0px 3px 6px 2px #0002;
		transition: transform 100ms ease-in-out;
		margin-bottom: 5px;
	}

	.single-card-player:hover {
		transform: scale(1.01);
		background-color: rgb(204, 201, 165)
	}

	/* Remove the verticale scroll bar */
	.cards-player::-webkit-scrollbar {
		display: none;
	}

	/* Cards container */
	.cards-player {
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
		display: flex;
		column-gap: 5px;
		overflow-y: scroll;
		height: 43vh;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	/* Remove the verticale scroll bar */
	.cards-player::-webkit-scrollbar {
		display: none;
	}

	/* image in the the card for home page */
	.image-player {
		width: 250px;
		height: 190px;
		border-radius: 10px;
		padding: 2px;
		position: relative;
		top: -5px;
	}

	/* Text inside each card */
	.video-description-player {
		flex-direction: column;
		display: flex;
		position: relative;
		top: 10px;
		margin: 0px 5px;
		padding-right: 20px;
		margin-left: 5px;
		font-size: 16px;;
	}

	/* Views */
	.views-player {
		font-size: 16px;;
		color: black;
	}

	/* Title */
	.title-player {
		font-size: 20px;
		color: rgb(248, 5, 5);
		position: relative;
		top: 16px;;
		width: 62vw
	}

	/* Channel id */
	.channel-id-player {
		font-size: 16px;;
		text-decoration: none;
		color: black;
		font-size: 16px;
		position: relative;
		top: 16px;
		left: 5px;
	}

	.posted-text-player {
		position: relative;
		top: -20px;
		font-size: 16px;;
	}

	.duration-text-player {
		position: relative;
		top: -40px;
		font-size: 16px;;
	}

	/* Avatar and channel name */
	.avatar-channelName-player {
		font-size: 16px;;
		justify-content: left;
		display: flex;
		margin-top: 5px;
	}

	/* The avatarbelow the playing video */
	.avatar-player {
		height: 50px;
		border-radius: 30px;
		position: relative;
		font-size: 16px;;
		color: black;
		font-size: 1px;
	}

}


@media screen and (max-width: 820px) {

	/* Single card */
	.single-card-player {
		text-justify: center;
		display: flex;
		align-items: center;
		width: 800px;
		height: 200px;
		background: #fff;
		padding: 10px 2px 2px 2px;
		border-radius: 6px;
		box-shadow: 0px 3px 6px 2px #0002;
		transition: transform 100ms ease-in-out;
		margin-bottom: 5px;
	}

	.single-card-player:hover {
		transform: scale(1.01);
		background-color: rgb(204, 201, 165)
	}

	/* Remove the verticale scroll bar */
	.cards-player::-webkit-scrollbar {
		display: none;
	}

	/* Cards container */
	.cards-player {
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
		display: flex;
		column-gap: 5px;
		overflow-y: scroll;
		height: 43vh;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	/* Remove the verticale scroll bar */
	.cards-player::-webkit-scrollbar {
		display: none;
	}

	/* image in the the card for home page */
	.image-player {
		width: 250px;
		height: 190px;
		border-radius: 10px;
		padding: 2px;
		position: relative;
		top: -5px;
	}

	/* Text inside each card */
	.video-description-player {
		flex-direction: column;
		display: flex;
		position: relative;
		top: 10px;
		margin: 0px 5px;
		padding-right: 20px;
		margin-left: 5px;
		font-size: 16px;;
	}

	/* Views */
	.views-player {
		font-size: 16px;;
		color: black;
	}

	/* Title */
	.title-player {
		font-size: 20px;
		color: rgb(248, 5, 5);
		position: relative;
		top: 16px;;
		width: 62vw
	}

	/* Channel id */
	.channel-id-player {
		font-size: 16px;;
		text-decoration: none;
		color: black;
		font-size: 16px;
		position: relative;
		top: 16px;
		left: 5px;
	}

	.posted-text-player {
		position: relative;
		top: -20px;
		font-size: 16px;;
	}

	.duration-text-player {
		position: relative;
		top: -40px;
		font-size: 16px;;
	}

	/* Avatar and channel name */
	.avatar-channelName-player {
		font-size: 16px;;
		justify-content: left;
		display: flex;
		margin-top: 5px;
	}

	/* The avatarbelow the playing video */
	.avatar-player {
		height: 50px;
		border-radius: 30px;
		position: relative;
		font-size: 16px;;
		color: black;
		font-size: 1px;
	}

}


@media screen and (max-width: 768px) {

	/* Single card */
	.single-card-player {
		text-justify: center;
		display: flex;
		align-items: center;
		width: 750px;
		height: 200px;
		background: #fff;
		padding: 10px 2px 2px 2px;
		border-radius: 6px;
		box-shadow: 0px 3px 6px 2px #0002;
		transition: transform 100ms ease-in-out;
		margin-bottom: 5px;
	}

	.single-card-player:hover {
		transform: scale(1.01);
		background-color: rgb(204, 201, 165)
	}

	/* Remove the verticale scroll bar */
	.cards-player::-webkit-scrollbar {
		display: none;
	}

	/* Cards container */
	.cards-player {
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
		display: flex;
		column-gap: 5px;
		overflow-y: scroll;
		height: 43vh;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	/* Remove the verticale scroll bar */
	.cards-player::-webkit-scrollbar {
		display: none;
	}

	/* image in the the card for home page */
	.image-player {
		width: 250px;
		height: 190px;
		border-radius: 10px;
		padding: 2px;
		position: relative;
		top: -5px;
	}

	/* Text inside each card */
	.video-description-player {
		flex-direction: column;
		display: flex;
		position: relative;
		top: 10px;
		margin: 0px 5px;
		padding-right: 20px;
		margin-left: 5px;
		font-size: 16px;;
	}

	/* Views */
	.views-player {
		font-size: 16px;;
		color: black;
	}

	/* Title */
	.title-player {
		font-size: 20px;
		color: rgb(248, 5, 5);
		position: relative;
		top: 16px;;
		width: 62vw
	}

	/* Channel id */
	.channel-id-player {
		font-size: 16px;;
		text-decoration: none;
		color: black;
		position: relative;
		top: 16px;
		left: 5px;
	}

	.posted-text-player {
		position: relative;
		top: -20px;
		font-size: 16px;;
	}

	.duration-text-player {
		position: relative;
		top: -40px;
		font-size: 16px;;
	}

	/* Avatar and channel name */
	.avatar-channelName-player {
		font-size: 16px;;
		justify-content: left;
		display: flex;
		margin-top: 5px;
	}

	/* The avatarbelow the playing video */
	.avatar-player {
		height: 50px;
		border-radius: 30px;
		position: relative;
		font-size: 16px;;
		color: black;
		font-size: 1px;
	}

}


@media screen and (max-width: 414px) {

	/* Single card */
	.single-card-player {
		text-justify: center;
		display: flex;
		align-items: center;
		width: 390px;
		height: 140px;
		background: #fff;
		padding: 10px 2px 2px 2px;
		border-radius: 6px;
		box-shadow: 0px 3px 6px 2px #0002;
		transition: transform 100ms ease-in-out;
		margin-bottom: 5px;
	}

	.single-card-player:hover {
		transform: scale(1.01);
		background-color: rgb(204, 201, 165)
	}

	/* Remove the verticale scroll bar */
	.cards-player::-webkit-scrollbar {
		display: none;
	}

	/* Cards container */
	.cards-player {
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
		display: flex;
		column-gap: 5px;
		overflow-y: scroll;
		height: 45vh;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	/* Remove the verticale scroll bar */
	.cards-player::-webkit-scrollbar {
		display: none;
	}

	/* image in the the card for home page */
	.image-player {
		width: 120px;
		height: 100px;
		border-radius: 10px;
		padding: 2px;
		position: relative;
		top: -5px;
	}

	/* Text inside each card */
	.video-description-player {
		flex-direction: column;
		display: flex;
		position: relative;
		top: 10px;
		margin: 0px 5px;
		padding-right: 20px;
		margin-left: 5px;
	}

	/* Views */
	.views-player {
		font-size: xx-small;
		color: black;
	}

	/* Title */
	.title-player {
		font-size: xx-small;
		color: rgb(248, 5, 5);
		position: relative;
		top: 16px;;
		width: 62vw
	}

	/* Channel id */
	.channel-id-player {
		font-size: 1px;
		text-decoration: none;
		color: black;
	}

	.posted-text-player {
		position: relative;
		top: -20px;
	}

	.duration-text-player {
		position: relative;
		top: -40px;
	}

	/* Avatar and channel name */
	.avatar-channelName-player {
		justify-content: left;
		display: flex;
		margin-top: 5px;
	}

	/* The avatarbelow the playing video */
	.avatar-player {
		height: 20px;
		border-radius: 30px;
		position: relative;
		font-size: xx-small;
		color: black;
		font-size: 1px;
	}
}


@media screen and (max-width: 375px) {

	/* Single card */
	.single-card-player {
		text-justify: center;
		display: flex;
		align-items: center;
		width: 340px;
		height: 140px;
		background: #fff;
		padding: 10px 2px 2px 2px;
		border-radius: 6px;
		box-shadow: 0px 3px 6px 2px #0002;
		transition: transform 100ms ease-in-out;
		margin-bottom: 5px;
	}

	.single-card-player:hover {
		transform: scale(1.01);
		background-color: rgb(204, 201, 165)
	}

	/* Remove the verticale scroll bar */
	.cards-player::-webkit-scrollbar {
		display: none;
	}

	/* Cards container */
	.cards-player {
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
		display: flex;
		column-gap: 5px;
		overflow-y: scroll;
		height: 80vh;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	/* Remove the verticale scroll bar */
	.cards-player::-webkit-scrollbar {
		display: none;
	}

	/* image in the the card for home page */
	.image-player {
		width: 120px;
		height: 100px;
		border-radius: 10px;
		padding: 2px;
		position: relative;
		top: -5px;
	}

	/* Text inside each card */
	.video-description-player {
		flex-direction: column;
		display: flex;
		position: relative;
		top: 10px;
		margin: 0px 5px;
		padding-right: 20px;
		margin-left: 5px;
	}

	/* Views */
	.views-player {
		font-size: xx-small;
		color: black;
	}

	/* Title */
	.title-player {
		font-size: xx-small;
		color: rgb(248, 5, 5);
		position: relative;
		top: 16px;;
		width: 58vw
	}

	/* Channel id */
	.channel-id-player {
		font-size: 1px;
		text-decoration: none;
		color: black;
	}

	.posted-text-player {
		position: relative;
		top: -20px;
	}

	.duration-text-player {
		position: relative;
		top: -40px;
	}

	/* Avatar and channel name */
	.avatar-channelName-player {
		justify-content: left;
		display: flex;
		margin-top: 5px;
	}

	/* The avatarbelow the playing video */
	.avatar-player {
		height: 20px;
		border-radius: 30px;
		position: relative;
		font-size: xx-small;
		color: black;
		font-size: 1px;
	}
}