/* .header {
	background-color: rgb(115, 129, 134);
	height: 9vh;
	gap: 10px;
	padding: 0px 5px;
	width: 100vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-container {
	display: grid;
	gap: 15px;
	background-color: rgb(115, 129, 134);
}

@media screen and (max-width: 1200px) {
	.header {
		background-color: rgb(115, 129, 134);
		height: 10vh;
		gap: 10px;
		padding: 0px 5px;
		width: 100vw;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.header-container {
		display: grid;
		gap: 2px;
		background-color: rgb(115, 129, 134);
	}
}

@media screen and (max-width: 1024px) {
	.header {
		background-color: rgb(115, 129, 134);
		height: 10vh;
		gap: 10px;
		padding: 0px 5px;
		width: 100vw;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.header-container {
		display: grid;
		gap: 2px;
		background-color: rgb(115, 129, 134);
	}
}

@media screen and (max-width: 900px) {
	.header {
		background-color: rgb(115, 129, 134);
		height: 10vh;
		gap: 10px;
		padding: 0px 5px;
		width: 100vw;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.header-container {
		display: grid;
		gap: 2px;
		background-color: rgb(115, 129, 134);
	}
}

@media screen and (max-width: 820px) {
	.header {
		background-color: rgb(115, 129, 134);
		height: 8vh;
		gap: 10px;
		padding: 0px 5px;
		width: 100vw;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.header-container {
		display: grid;
		gap: 2px;
		background-color: rgb(115, 129, 134);
	}
}


@media screen and (max-width: 414px) {
	.header {
		background-color: rgb(115, 129, 134);
		height: 8vh;
		gap: 10px;
		padding: 0px 5px;
		width: 100vw;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.header-container {
		display: grid;
		gap: 2px;
		background-color: rgb(115, 129, 134);
	}
}


@media screen and (max-width: 375px) {
	.header {
		background-color: rgb(115, 129, 134);
		height: 8vh;
		gap: 10px;
		padding: 0px 5px;
		width: 100vw;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.header-container {
		display: grid;
		gap: 2px;
		background-color: rgb(115, 129, 134);
	}
}
 */

 /* @media screen and (min-width: 413px) and (max-width: 414px) {
	.navbar{
		display: flex;
		align-items: space-around;
	}
	.input-box{
		width: 12rem;
	}
 } */

  @media screen and (max-width: 375px) {
	.navbar{
		display: flex;
		gap: 0.5rem;
	}
 }

 @media screen and (min-width: 319px) and (max-width: 320px) {
	.navbar{
		display: flex;
		gap: 0.4rem;
	}
 }
