.input-box{
	width: 5rem;
}

/* .input-rounded {
		font-size: 26px;
		width: 50vw;
		border-radius: 40px;
		padding-left: 7vw;

	}

	.searchIcon {
		font-size: 30px;
		color: rgb(30, 7, 244);
		position: relative;
		left: 42px;
		top: -2px;
	}

	.search-icon-and-input-box {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		left: -15px;
	}

	@media screen and (max-width: 1200px) {
		.input-rounded {
			font-size: 26px;
			width: 50vw;
			border-radius: 40px;
			padding-left: 7vw;

		}

		.searchIcon {
			font-size: 30px;
			color: rgb(30, 7, 244);
			position: relative;
			left: 42px;
			top: 2px;
		}

		.search-icon-and-input-box {
			display: flex;
			justify-content: space-between;
			align-items: center;
			position: relative;
			left: -15px;
		}

	}


	@media screen and (max-width: 1024px) {

		.input-rounded {
			font-size: 26px;
			width: 50vw;
			border-radius: 40px;
			padding-left: 7vw;

		}

		.searchIcon {
			font-size: 30px;
			color: rgb(30, 7, 244);
			position: relative;
			left: 42px;
			top: 2px;
		}

		.search-icon-and-input-box {
			display: flex;
			justify-content: space-between;
			align-items: center;
			position: relative;
			left: -15px;
		}

	}

	@media screen and (max-width: 900px) {

		.input-rounded {
			font-size: 26px;
			width: 50vw;
			border-radius: 40px;
			padding-left: 7vw;

		}

		.searchIcon {
			font-size: 30px;
			color: rgb(30, 7, 244);
			position: relative;
			left: 42px;
			top: 2px;
		}

		.search-icon-and-input-box {
			display: flex;
			justify-content: space-between;
			align-items: center;
			position: relative;
			left: -15px;
		}

	}

	@media screen and (max-width: 820px) {

		.input-rounded {
			font-size: 26px;
			width: 50vw;
			border-radius: 40px;
			padding-left: 7vw;

		}

		.searchIcon {
			font-size: 30px;
			color: rgb(30, 7, 244);
			position: relative;
			left: 42px;
			top: 2px;
		}

		.search-icon-and-input-box {
			display: flex;
			justify-content: space-between;
			align-items: center;
			position: relative;
			left: -15px;
		}

	}


	@media screen and (max-width: 414px) {

		.input-rounded {
			font-size: 13px;
			width: 40vw;
			border-radius: 20px;
			padding-left: 7vw;

		}

		.searchIcon {
			font-size: 15px;
			color: rgb(30, 7, 244);
			position: relative;
			left: 23px;
			top: -3px;
		}

		.search-icon-and-input-box {
			display: flex;
			justify-content: space-between;
			align-items: center;
			position: relative;
			left: -15px;
		}

	}


	@media screen and (max-width: 390px) {

		.input-rounded {
			font-size: 13px;
			width: 40vw;
			border-radius: 20px;
			padding-left: 7vw;

		}

		.searchIcon {
			font-size: 15px;
			color: rgb(30, 7, 244);
			position: relative;
			left: 23px;
			top: -3px;
		}

		.search-icon-and-input-box {
			display: flex;
			justify-content: space-between;
			align-items: center;
			position: relative;
			left: -15px;
		}

	}

	@media screen and (max-width: 375px) {

		.input-rounded {
			font-size: 13px;
			width: 40vw;
			border-radius: 20px;
			padding-left: 7vw;

		}


		.searchIcon {
			font-size: 15px;
			color: rgb(30, 7, 244);
			position: relative;
			left: 23px;
			top: -3px;
		}

		.search-icon-and-input-box {
			display: flex;
			justify-content: space-between;
			align-items: center;
			position: relative;
			left: -20px;
			top: 5px
		}

	} */