
/* User login status text */
.username-loggedin-text{
	font-size: 20px;
}

.user-icon {
	font-size: 25px;
}

/* Super user container */
.user-super-container {
	font-size: 15px;
	display: flex;
	justify-content: center;
	align-content: center;
	gap: 1vw;
	position: relative;
	top: 19px;
	margin-right: 5vw;
}

/* Register and login text */
.register-login {
	font-size: 20px;
	flex-direction: column;
	display: flex;
	position: relative;
	top: 7px;
}

.username-container {
	font-size: 20px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

@media screen and (max-width: 1200px) {

	/* User login status text */
	.username {
		font-size: 20px;
		position: relative;
		top: 6px;
	}

	.user-icon {
		font-size: 25px;
		position: relative;
		top: 8px;
		left: 30px;
	}

	/* Super user container */
	.user-super-container {
		font-size: 15px;
		display: flex;
		justify-content: center;
		align-content: center;
		gap: 1vw;
		position: relative;
		top: 19px;
		margin-right: 5vw;
	}

	/* Register and login text */
	.register-login {
		font-size: 20px;
		flex-direction: column;
		display: flex;
		position: relative;
		top: 7px;
	}

	.usernameLogin {
		font-size: 20px;
	}

	.login-text {
		position: relative;
		top: -10px;
		font-size: 20px;
	}

	.username-container {
		font-size: 20px;
		justify-content: center;
		flex-direction: column;
		align-content: center;
		display: flex;
	}
}


@media screen and (max-width: 1024px) {

	/* User login status text */
	.username-loggedin-text {
		font-size: 20px;
		position: relative;
		top: 6px;
	}

	.user-icon {
		font-size: 25px;
		position: relative;
		top: 8px;
		left: 30px;
	}

	/* Super user container */
	.user-super-container {
		font-size: 15px;
		display: flex;
		justify-content: center;
		align-content: center;
		gap: 1vw;
		position: relative;
		top: 17px;
		margin-right: 5vw;
	}

	/* Register and login text */
	.register-login {
		font-size: 20px;
		flex-direction: column;
		display: flex;
		position: relative;
		top: 7px;
	}

	.usernameLogin {
		font-size: 20px;
	}

	.login-text {
		position: relative;
		top: -10px;
		font-size: 20px;
	}

	.username-container {
		font-size: 20px;
		justify-content: center;
		flex-direction: column;
		align-content: center;
		display: flex;
	}
}


@media screen and (max-width: 900px) {

	/* User login status text */
	.username {
		font-size: 20px;
		position: relative;
		top: 6px;
	}

	.user-icon {
		font-size: 25px;
		position: relative;
		top: 8px;
		left: 30px;
	}

	/* Super user container */
	.user-super-container {
		font-size: 15px;
		display: flex;
		justify-content: center;
		align-content: center;
		gap: 1vw;
		position: relative;
		top: 15px;
		margin-right: 15vw;
	}

	/* Register and login text */
	.register-login {
		font-size: 20px;
		flex-direction: column;
		display: flex;
		position: relative;
		top: 7px;
	}

	.usernameLogin {
		font-size: 20px;
	}

	.login-text {
		position: relative;
		top: -10px;
		font-size: 20px;
	}

	.username-container {
		font-size: 20px;
		justify-content: center;
		flex-direction: column;
		align-content: center;
		display: flex;
	}
}


@media screen and (max-width: 820px) {

	/* User login status text */
	.username {
		font-size: 20px;
		position: relative;
		top: 6px;
	}

	.user-icon {
		font-size: 20px;
		position: relative;
		top: 8px;
		left: 20px;
	}

	/* Super user container */
	.user-super-container {
		font-size: 20px;
		display: flex;
		justify-content: center;
		align-content: center;
		gap: 1vw;
		position: relative;
		top: 13px;
		margin-right: 15vw;
	}

	/* Register and login text */
	.register-login {
		font-size: 20px;
		flex-direction: column;
		display: flex;
		position: relative;
			top: 5px;
	}
	.usernameLogin{
		font-size: 20px;
	}

	.login-text {
		position: relative;
		top: -10px;
		font-size: 20px;
	}

	.username-container {
		font-size: 20px;
		justify-content: center;
		flex-direction: column;
		align-content: center;
		display: flex;
	}
}


@media screen and (max-width: 414px) {

	/* User login status text */
	.username {
		font-size: xx-small;
		position: relative;
		top: 6px;
	}

	.user-icon {
		position: relative;
		top: 8px;
		left: 20px;
	}

	/* Super user container */
	.user-super-container {
		display: flex;
		justify-content: center;
		align-content: center;
		gap: 1vw;
		position: relative;
		top: 13px;
		margin-right: 15vw;
	}

	/* Register and login text */
	.register-login {
		font-size: xx-small;
		flex-direction: column;
		display: flex;
	}

	.register-text {
		position: relative;
		top: 15px;

	}

	.username-container {
		justify-content: center;
		flex-direction: column;
		align-content: center;
		display: flex;
	}
}

@media screen and (max-width: 390px) {

	/* User login status text */
	.username {
		font-size: small;
		position: relative;
		top: 6px;
	}

	.user-icon {
		position: relative;
		top: 8px;
		left: 20px;
	}

	/* Super user container */
	.user-super-container {
		display: flex;
		justify-content: center;
		align-content: center;
		gap: 1vw;
		position: relative;
		top: 18px;
		right: 3vw;
	}

	/* Register and login text */
	.register-login {
		font-size: small;
		flex-direction: column;
		display: flex;
	}

	.register-text {
		position: relative;
		top: 15px;

	}

	.username-container {
		justify-content: center;
		flex-direction: column;
		align-content: center;
		display: flex;
	}
}

@media screen and (max-width: 375px) {

	/* User login status text */
	.usernameLogin {
		font-size: xx-small;
		position: relative;
		top: 3px;
	}

	.user-icon {
		font-size: xx-small;
		position: relative;
		top: 8px;
		left: 20px;
	}

	p{
		font-size: xx-small;
	}

	/* Super user container */
	.user-super-container {
		font-size: xx-small;
		display: flex;
		justify-content: center;
		align-content: center;
		gap: 1vw;
		position: relative;
		top: 13px;
		right: 7vw;
	}

	.login-text {
		font-size: xx-small;
		position: relative;
		top: -5px;
	}

	/* Register and login text */
	.register-login {
		font-size: xx-small;
		flex-direction: column;
		display: flex;
	}

	.register-text {
		font-size: xx-small;
		position: relative;
		top: 16px;
	}

	.username-container {

		flex-direction: column;
		align-content: center;
		display: flex;
	}
}