   /* @media screen and (min-width: 1536px) {
  iframe {
    height: 94.1vh;
    width: 50vw;
    margin-top: 5px;
  }
} */

   /* @media screen and (min-width: 1280px) {
   iframe {
    height: 93vh;
    width: 67.5vw;
    margin-top: 2px;
  }
} */
    /* @media screen and (min-width: 1024px) {
   iframe {
    height: 93vh;
    width: 65vw;
    margin-top: 2px;
  }
} */

  /* @media screen and (min-width: 1103px) and (max-width: 1104px) {
   iframe {
    height: 93vh;
    width: 67vw;
    margin-top: 2px;
  }
} */

 /* @media screen and (min-width: 960px) {
   iframe {
    height: 33rem;
    width: 98vw;
    margin-top: 10px;
  }
} */


/* @media screen and (min-width: 768px) {
   iframe {
    height: 50rem;
    width: 8vw;
    margin-top: 10px;
  }
} */

/* @media screen and (min-width: 320px) {
  iframe {

    width: 98vw;
    margin: 0 auto;
    position:relative;
    top: 20rem;
  }
} */