
  .iframe-player {
    height: 78vh;
    width: 70vw;
    border-radius: 20px;
    position: relative;
    left: 1vw;
    top: 10px;
    margin-bottom: 5px;
  }

@media screen and (max-width: 1200px) {
  .iframe-player {
    height: 83vh;
    width: 75vw;
    border-radius: 20px;
    position: relative;
    left: 1vw;
    top: 10px;
    margin-bottom: 5px;
  }
}


@media screen and (max-width: 1024px) {
  .iframe-player {
    height: 83vh;
    width: 55vw;
    border-radius: 20px;
    position: relative;
    left: 1vw;
    top: 10px;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 900px) {
  .iframe-player {
    height: 70vh;
    width: 98vw;
  }
}

@media screen and (max-width: 820px) {
  .iframe-player {
    height: 45vh;
    width: 98vw;
    border-radius: 20px;
    position: relative;
    left: .8vw;
    top: 10px;
    margin-bottom: 5px;
  }
}


@media screen and (max-width: 768px) {
  .iframe-player {
    height: 45vh;
    width: 98vw;
    border-radius: 20px;
    position: relative;
    left: 1vw;
    top: 10px;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 414px) {
  .iframe-player {
    height: 40vh;
    width: 95vw;
    border-radius: 20px;
    position: relative;
    left: 2.5vw;
    top: 2px;
  }
}

@media screen and (max-width: 375px) {
  .iframe-player {
    height: 80vh;
    width: 95vw;
    border-radius: 20px;
    position: relative;
    left: 2.5vw;
    top: 2px;
  }
}