@media screen and (min-width: 961px) {
.cards-container{
		max-height: 92vh;
		width: 33rem;
	}

	.card{
		width: 23rem;
		max-height: 150px;
	}

	img.thumbnail{
			max-width: 100px;
			height: 150px;
		}
}
@media screen and (min-width: 1104px) and (max-width: 1280px){
	.cards-container{
		max-height: 92vh;
		width: 36rem;
	}
}

@media screen and (min-width: 1103px) and (max-width: 1104px) {
	.card{
		width: 200rem;
		max-height: 150px;
	}
}

@media screen and (min-width: 1104px) and (max-width: 1114px) {
.cards-container{
		max-height: 92vh;
		width: 33rem;
	}

	.card{
		width: 22rem;
		max-height: 150px;
	}

	img.thumbnail{
			max-width: 100px;
			height: 150px;
		}
}

@media screen and (max-width: 960px) {
	.cards-container{
		max-height: 53.4vh;
	}

	.card{
		width: 49vw;
		max-height: 150px;
	}

	img.thumbnail{
			max-width: 100px;
			height: 150px;
		}
}


@media screen and (max-width: 820px) {
	.cards-container{
		max-height: 45vh;
	}

	.card{
		width: 49vw;
		max-height: 150px;
	}

	img.thumbnail{
			max-width: 100px;
			height: 150px;
		}
}


@media screen and (max-width: 768px) {
	.cards-container{
		max-height: 53vh;
		margin-top: 10px;
	}

	.card{
		width: 48vw;
		max-height: 150px;
	}

	img.thumbnail{
			max-width: 100px;
			height: 150px;
		}

}

@media screen and (max-width: 480px) {
	.cards-container{
		max-height: 53vh;
		margin-top: 10px;
	}

	.card{
		width: 48vw;
		max-height: 150px;
	}

	img.thumbnail{
			max-width: 100px;
			height: 150px;
		}

}

@media screen and (max-width: 428px) {
	.cards-container{
		max-height: 53vh;
		margin-top: 10px;
	}

	.card{
		width: 100vw;
		max-height: 150px;
	}

	img.thumbnail{
			max-width: 100px;
			height: 150px;
		}
}

@media screen and (max-width: 375px) {
	.cards-container{
		max-height: 53vh;
	}

	.card{
		width: 100vw;
		max-height: 150px;
	}

	img.thumbnail{
			max-width: 100px;
			height: 150px;
		}
}

