
/* @media screen and (max-width: 900px) {
  iframe {
    height: 50vh;
  }
} */

/* @media screen and (max-width: 820px) {
  iframe {
    height: 50vh;
  }
} */


/* @media screen and (max-width: 768px) {
  iframe {
    height: 45vh;
  }
} */

/* @media screen and (max-width: 480px) {
  iframe {
    height: 50vh;
  }
} */

/* @media screen and (max-width: 375px) {
  iframe {
    height: 80%;
  }
} */

@media screen and (max-width: 320px) {
  iframe {
    height: 50vh;
    
  }
}