
  @media screen and (min-width: 1200px) {
  iframe {
    height: 94.1vh;
    width: 78.3vw;
    border-radius: 10px;
    margin-top: 5px;
  }
}

   @media screen and (max-width: 1280px) {
   iframe {
    height: 93vh;
    width: 70vw;
    border-radius: 10px;
    margin-top: 2px;
  }
}

  @media screen and (min-width: 1104px) and (max-width: 1279px) {
   iframe {
    height: 93vh;
    width: 67vw;
    border-radius: 10px;
    margin-top: 2px;
  }
}

 @media screen and (max-width: 960px) {
   iframe {
    height: 33rem;
    width: 100vw;
    border-radius: 10px;
    margin-top: 10px;
  }
}


@media screen and (max-width: 768px) {
   iframe {
    height: 30rem;
    width: 100vw;
    border-radius: 10px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 480px) {
  iframe {
    height: 20rem;
    width: 100vw;
    border-radius: 10px;
    margin-top: 5px;
  }
}

@media screen and (max-width: 320px) {
  iframe {
    height: 15rem;
    width: 100vw;
  }
}