

    @media screen and (min-width: 962px) {
  iframe {
    height: 60rem;
    width: 100vw;
    border-radius: 10px;
    margin-top: 5px;
  }
}

  @media screen and (min-width: 961px) {
  iframe {
    height: 43rem;
    width: 100vw;
    border-radius: 10px;
    margin-top: 5px;
  }
}

 @media screen and (max-width: 960px) {
   iframe {
    height: 33rem;
    width: 100vw;
    border-radius: 10px;
    margin-top: 10px;
  }
}


@media screen and (max-width: 768px) {
   iframe {
    height: 30rem;
    width: 100vw;
    border-radius: 10px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 480px) {
  iframe {
    height: 20rem;
    width: 100vw;
    border-radius: 10px;
    margin-top: 5px;
  }
}

@media screen and (max-width: 320px) {
  iframe {
    height: 15rem;
    width: 100vw;
  }
}