


@media screen and (max-width: 375px) {
	.top-text {
		text-align: center;
		position: absolute;
		top: 16vh;
	}

	.go-button {
		font-size: xx-large;
		text-align: center;
		text-decoration: none;
		border-radius: 0.5rem;
		background-color: #4b8ee5;
		width: 30%;
		position: relative;
		top: -8rem;
		margin: 0 auto;
	}

	img {
		height: 100vh;
		width: 100%;
	}

	.welcomePage{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	body{
		/* background-image: url("../Components/Images/HomePage.png"); */
		background-size: cover;
		background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
		width: 100%;
	}
}