


@media screen and (max-width: 375px) {
	.top-text {
		text-align: center;
		position: absolute;
		top: 16vh;
	}

	.go-button {
		position: relative;
		width: 50%;
		top: 37rem;
		text-decoration: inherit;
	}

	body{
		background-image: url("../Components/Images/HomePage.png");
		   background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
	}
}