


@media screen and (max-width: 375px) {
	.welcomePage {
		/* background-image: url("https://imgur.com/a/1HaueMU"); */
		background-image: url("../Components/Images/HomePage.png");
		background-position: center;
		height: 100vh;
		background-size: 100%;
		background-repeat: no-repeat;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		display: flex;
	}

	.top-text {
		text-align: center;
		position: absolute;
		top: 16vh;
	}

	.go-button {
		position: relative;
		width: 100%;
		top: 25rem;
		text-decoration: none;
	}

	body{
		/* background-image: url("https://imgur.com/a/1HaueMU"); */
		background-image: url("../Components/Images/HomePage.png");
		background-position: center;
		height: 100vh;
		background-size: 100%;
		background-repeat: no-repeat;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		display: flex;
	}
	}
}