


@media screen and (max-width: 375px) {
	.top-text {
		text-align: center;
		position: absolute;
		top: 16vh;
	}

	.go-button {
		font-size: x-large;
		text-decoration: none;
		/* position: relative; */
		border-radius: 0.5rem;
		background-color: #4b8ee5;
		width: 30%;
		/* top: 37rem; */
	}

	img {
		height: 100%;
	}

	body{
		/* background-image: url("../Components/Images/HomePage.png"); */
		background-size: cover;
		background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
		width: 100%;
	}
}